.osac-dashboard-stat__title {
  font-size: var(--pf-t--global--font--size--heading--xs);
  font-weight: var(--pf-t--global--font--weight--heading--bold);
}

.osac-dashboard-stat__value {
  margin: 0;
}

.osac-dashboard-stat__value--default {
  color: var(--pf-t--global--text--color--regular);
}

.osac-dashboard-stat__value--running {
  color: var(--pf-t--global--color--status--success--default);
}

.osac-dashboard-stat__value--paused {
  color: var(--pf-t--global--color--status--warning--default);
}

.osac-dashboard-stat__value--stopped {
  color: var(--pf-t--global--color--status--danger--default);
}

.osac-dashboard-stat__caption {
  margin-top: var(--pf-t--global--spacer--xs);
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--body--sm);
}
